.blog {
    background: #f0efef;
    padding: 0.05rem;
    border-radius: 12px;
    margin: 20px 20px 20px 20px;
    word-wrap: break-word;
}

.blogtitle {
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 20px;
}
  
.blogdescription {
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 20px;
}
  
.editor {
    margin-left: 40px;
    font-weight: 600;
    font-size: 0.7rem;
    margin-top: 25px;
}

img.edtor {
    margin-left: 1px;
    margin-right: 1px;
}